package ${package.name};

import static org.junit.Assert.assertNotNull;

import javax.annotation.Generated;

@Generated(value = "${process.class}",  date = "${process.date}")
public class ${target.class.name} {

	private ${bundle.class.name} bundle;

	@org.junit.Before
	public void setUp() {
		bundle = ${bundle.class.name}${bundle.type}Bundle.MSG_${source.class.name.camel};
	}

${methods.code}

}