    @Test
    public void testGroupText_${group.name}() {
        final String messageLabel = BundleFieldFactory.INSTANCE.getLabel(${group.name});
        final String messageHelp = BundleFieldFactory.INSTANCE.getHelp(${group.name});
        final String messagePlaceHolder = BundleFieldFactory.INSTANCE.getPlaceHolder(${group.name});
${assert.message}
    }

