package ${package.name};

${static.imports}
import static org.junit.Assert.assertEquals;
import static org.junit.Assert.assertNull;

import javax.annotation.Generated;

import org.junit.Test;

import org.mdl4ui.fields.sample.BundleFieldFactory;

@Generated(value = "${process.class}", date = "${process.date}")
public final class ${target.class.name} {

${group.text.tests}
${block.text.tests}
${field.text.tests}
}